<html>
<head>
<style>
th {
  background-color : #FF5A09;
  color : #FFFFFF;

 }
tr {
   background-color: #FFFFF0
 }
td ,th{
  width : ;
  white-space: ;
  margin:;
  height :;
  padding: 15px;
  text-align: left;
  font-size : 77%;
  font-family : "Verdana";

 }
</style>
</head>
<body>
<table border="1" , width="400",cellpadding=100>
   <tr>
    <th>TestCategory</th>
   	<th>TestName</th>
    <th>TestScript</th>
    <th>No.Of.Tests</th>
   	<th>NO_OF_GPU</th>
    <th>os_applicability</th>
   	<th>CentOS</th>
   	<th>Ubuntu1604</th>
   	<th>Ubuntu1804</th>
   	<th>Applicable_Category</th>
   	<th>Full_Cycle</th>
   	<th>Automation_Status</th>
   	<th>Automation_Type</th>
   	<th>CanBeMGPU</th>
   	<th>IsMGPU</th>
   	<th>ExecutionTime</th>
   	<th>TEAM</th>
   	<th>OWNER</th>
   <!-- </tr>
    {% for row in data %}
        <tr>
        {% for d in row %}
	   {% if  d == "ONLINE" %}
	     <td><span style="background-color:green;color:white">{{ d }} </span>
           {% elif  d == "OFFLINE" %}
	     <td><span style="background-color:red;color:white">{{ d }} </span>
	   {% else %}
	     <td>{{ d }}</td>
	   {% endif %}
        {% endfor %}
        </tr>
    {% endfor %} -->
</table>
</body>
</html>
